<section class="container">
    <div class="_detail">
      <mat-card class="card">
        
          <mat-card-header>
            <img mat-card-avatar class="header-image" src="{{item.sprites.default}}">
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>Nº {{item.id}}</mat-card-subtitle>
          </mat-card-header>
        
          <img mat-card-image src="{{item.sprites.default}}" alt="Items">
        
          <mat-card-content>
            <mat-chip-list>
              <mat-chip color="primary" selected>Cost: {{item.cost}}</mat-chip>
              <mat-chip color="primary" selected>category: {{item.category.name}}</mat-chip>                            
            </mat-chip-list>                                                                
          </mat-card-content>      
        </mat-card>
    </div>
    <div class="_detail">
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">Description Effect:</h2>    
          <section >
            <p class="description">{{item.effect_entries[0].effect}} <br> {{item.effect_entries[0].short_effect}}</p>                  
          </section>
        </mat-card-content>
        <hr>
        <mat-card-content>
          
          <h2 class="example-h2">Categoria: {{item.category.name}}</h2>    
          <section class="section-evolution">
            <p class="evolution" *ngFor="let cat of groupCategoria" (click)="btnRedirect(cat.name)">
              <img class="header-image" src="{{cat.img}}">
              <br>
              <span style="text-transform: uppercase; font-weight: bold;">{{cat.name}}</span>
              <i class="fas fa-home"></i>
            </p>
          </section>
        </mat-card-content>
      </mat-card>    
     
       
    </div>
  </section>
  
