@import "../../../../assets/style/variable-color.scss";
.card {    
    width: 85%;
    margin: auto;
    .mat-card-content:nth-child(2){       
        font-weight: bold;        
    }
    
}

.header-image {
    background-size: cover;    
}

.mat-card-image{
    background-color:$gray;
    
}

.mat-card-title{
    text-transform: uppercase;
    color: $black;
}

.mat-card-subtitle{
    color: $black;
}

._detail{
    display: inline-block;
    vertical-align: top;    
}

._detail:first-child{ 
    width: 35%;         
}
._detail:nth-child(2){ 
    margin: 0;
    width: 65%;         
}

  .description{
      font-size: 20px;
      font-weight: normal;
      line-height: normal;
      color: $black;
  }

  .evolution{
    text-align: center; 
    display: inline-block; 
    width: 33%;
    color: white;
    padding: 10px;
    box-sizing: border-box;
  }
  .evolution:hover {
    cursor: pointer;
    
    }
  .section-evolution{
      background-color: $blue;
  }

  @media only screen and (max-width: $screen-sm-min) {
    .container{
        width: 100%;
    }
    .pokemon_detail{
     display: block;
     width: 100%;
     .card{
        width: 100%;
     }
    }
    .evolution{
        display: block;
        text-align: center;
        width: 100%;
    }
    .pokemon_detail:first-child{ 
        width: 100%;         
    }
    .pokemon_detail:nth-child(2){ 
        margin: 0;
        width: 100%;         
    }
  }