@import "../../../assets/style/variable-color.scss";
.nav-generation{
width: 80%;
margin: auto;
padding: 20px;
box-sizing: border-box;
text-align: center;
}
nav{
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  margin: 5px ;
  margin-top: 5px;

}

nav div{
  width: 200px;
  margin: auto;
}

nav div button{
  width: 150px;
  height: 150px;
  background-color: $red;
}

.material-icons{
  font-size: 80px;
}

.title-button{
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: $red;
}

nav div:hover{
  .title-button{
    color:$blue;
  }

  .mat-fab{
    background-color: $blue;
  }
}

@media only screen and (max-width: $screen-sm-min) {
  .nav-generation{
    width: 100%;
  }
  nav{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-bottom: 3px $yellow solid;
  
  }
}