  <section class="nav-generation">   
    <nav *ngFor="let tile of tiles">
      <div (click)="btnRedirect(tile.param)">
      <button mat-fab color="primary">
        <span class="material-icons">
          settings_cell
        </span>
        
      </button>
      <br>
      <span class="title-button" >{{tile.text}}</span>
    </div>
  </nav>  
  </section>
