<div class="container-option">
    <div class="filter">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. pikachu or Electric" #input>
        </mat-form-field>
    </div>
    <div class="select">
        <mat-form-field class="select" appearance="fill">
            <mat-label>Order Table</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="order" (selectionChange)="onFilter()">
            <mat-option *ngFor="let or of order" [value]="or.value">
                {{or.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field>       
    </div>
    <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
    
        <!-- id Pokemon by entries pokedex -->
        <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef>  #Pokedex </th>
            <td mat-cell *matCellDef="let element"> {{element.n_poke}} </td>
        </ng-container>
    
        <!-- Pokekemon name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header="Name" *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Pokemo image -->
        <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef> Pokemon </th>
            <td mat-cell *matCellDef="let element"><img src="{{element.img}}" alt=""> </td>
        </ng-container>

         <!-- pokemon type -->
         <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>  
    
        <!-- button-->
        <ng-container matColumnDef="btn">
            <th mat-header-cell *matHeaderCellDef> Option </th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="btnRedirect(element.id)">ver</button>             
        </ng-container>                 
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="btnRedirect(row.id)"></tr>
        </table>   
    </div>      
  </div>