@import "../../../../assets/style/variable-color.scss";

.example-container {
    margin: auto;
    height: 500px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 10px;
    padding-right: 2px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }

  .mat-cell::first-letter{
    text-transform: uppercase;
  }

  .mat-row:hover {
    cursor: pointer;
    background-color: $gray;
}


  .container-option{
    margin: auto;
    height: 600px;
    width: 80%;
    max-width: 100%;   
  }
  
  .filter,.select{
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .select{
    text-align: right;
  }
  .control_registros button:hover{
    background-color: $red;
  }
  table img{
      width: 60px;
  }