$red: #e74c3c;
$black: black;
$white: #ffffff;
$yellow: #f1c40f;
$gray: #ecf0f1;
$blue: #3498db;
$turquoise: #1abc9c;

/*varaibles*/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        width: 100%;
    }
  }
  
  // Medium devices
  @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
  }
  
  // Large devices
  @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
  }
  
  // Extra large devices
  @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
  }