<section class="nav-generation">   
  <nav *ngFor="let tile of tiles">
    <div (click)="btnRedirect(tile.text)">
    <button mat-fab color="primary">
      <span class="material-icons">
        catching_pokemon
      </span>
      
    </button>
    <br>
    <span class="title-button" >{{tile.text}}</span>
  </div>
</nav>  
</section>