<header>
<section>
    <nav>
      <ul class="menuItems">
        <li><a [routerLink]="['/home']" rel="no-refresh" data-item='Pokedex'>
          <span class="material-icons">
            catching_pokemon
          </span>
          <br>
          Pokedex</a></li>
        <li><a [routerLink]="['/pokemon/objects']" data-item='Objects'>
          <span class="material-icons">
            build_circle
            </span>
            <br>
          Objects</a></li>
        <li><a [routerLink]="['/pokemon/moves']"data-item='Movements'>
          <span class="material-icons">
            run_circle
            </span>
            <br>
          Movements</a></li>
        <li><a [routerLink]="['/pokemon/national']" data-item='Pokemon'>
          <span class="material-icons">
            list
            </span>
            <br>
          All Pokemon</a></li>
      </ul>
    </nav>  
</section>
<section>
  <!--button mat-fab color="accent">
    <span class="material-icons">
      keyboard_return
    </span>
    
  </button-->
</section>
</header>
