@import "../../../assets/style/variable-color.scss";
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@mixin efecto-normal-menu($param) {
  background-color: $white;
  border-bottom: 5px  $param solid;
  font-weight: bold;  
}
@mixin efecto-hover-menu($color) {
  background-color: $color;
  a{
    color: $white;
  }
}

header{
  width: 100%;
  background-color: $gray;
}

header section{
  display: inline-block;
  vertical-align: top;
}

header section:first-child{
  width: 75%;  
}

header section:nth-child(2){
    width: 25%;    
    padding: 10px;
    padding-right: 30px;    
    text-align: right;
}
nav ul li{
  display: inline-block;
  vertical-align: top;
  width: 25%;  
  height: 75px;
  text-align: center;  
  cursor: pointer;

}

nav ul li a{
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  height: 75px;
  color: $black;
  padding-top: 10px;
}

nav ul li:first-child{
  @include efecto-normal-menu($yellow);
}
nav ul li:nth-child(2){
  @include efecto-normal-menu($blue);
}
nav ul li:nth-child(3){
  @include efecto-normal-menu($red);
}
nav ul li:nth-child(4){
  @include efecto-normal-menu($turquoise);
}

nav ul li:first-child:hover{
  @include efecto-hover-menu($yellow);
}

nav ul li:nth-child(2):hover{
  @include efecto-hover-menu($blue);
}
nav ul li:nth-child(3):hover{
  @include efecto-hover-menu($red);
}
nav ul li:nth-child(4):hover{
  @include efecto-hover-menu($turquoise);
}
nav ul li a:active{
  background-color: $blue;  
}

.active-link{
  background-color: black;
}

@media only screen and (max-width: $screen-sm-min) {
  header{
    width: 100%;
    background-color: $gray;
  }

  header section{
    display: block;
    width: 100% !important;    
  }
}
