<section class="container">
    <div class="_detail">
      <mat-card class="card">
        
          <mat-card-header>            
            <span mat-card-avatar class="material-icons">
              catching_pokemon
            </span>
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>Nº {{item.id}}</mat-card-subtitle>            
          </mat-card-header>                  
          <span mat-card-image class="material-icons">
            catching_pokemon
          </span>
        
          <mat-card-content>
            <mat-chip-list>
              <mat-chip color="primary" selected>PP: {{item.pp}}</mat-chip>
              <mat-chip color="primary" selected>Power: {{item.power}}</mat-chip>                            
              <mat-chip color="primary" selected>Priority: {{item.priority}}</mat-chip>                            
              <mat-chip color="primary" selected>Accuracy: {{item.accuracy}}</mat-chip>  
            </mat-chip-list>                                                                
          </mat-card-content>      
        </mat-card>
    </div>
    <div class="_detail">
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">Description Effect:</h2>    
          <section >
            <p class="description">{{item.effect_entries[0].effect}} <br> {{item.effect_entries[0].short_effect}}</p>                  
          </section>
        </mat-card-content>
        <hr>
        <mat-card-content >
            <section *ngFor="let stat of powerfull">
              <p class="progress-h2">{{stat.name}}</p>          
              <section class="progress-section">
                <mat-progress-bar
                class="example-margin"
                [color]="color"
                [mode]="mode"
                [value]="stat.value"
                [bufferValue]="bufferValue">
                </mat-progress-bar>
              </section>
            </section>
          </mat-card-content>
      </mat-card>    
     
       
    </div>
  </section>
  

