<section class="container">
  <div class="pokemon_detail">
    <mat-card class="card">
      
        <mat-card-header>
          <img mat-card-avatar class="header-image" src="{{pokemonImg}}">
          <mat-card-title>{{pokemon.name}}</mat-card-title>
          <mat-card-subtitle>Nº {{pokemon.id}}</mat-card-subtitle>
        </mat-card-header>
      
        <img mat-card-image src="{{pokemonImg}}" alt="pokemon">
      
        <mat-card-content>
          <mat-chip-list>
            <mat-chip color="primary" selected>Type: {{pokemonType}}</mat-chip>
            <mat-chip color="primary" selected>Height: {{pokemon.height}}</mat-chip>
            <mat-chip color="primary" selected>Weight: {{pokemon.weight}}</mat-chip>
            
          </mat-chip-list>          
        
          <mat-card-content >
            <section *ngFor="let stat of pokemon.stats">
              <p class="progress-h2">{{stat.stat.name}}</p>          
              <section class="progress-section">
                <mat-progress-bar
                class="example-margin"
                [color]="color"
                [mode]="mode"
                [value]="stat.base_stat"
                [bufferValue]="bufferValue">
                </mat-progress-bar>
              </section>
            </section>
          </mat-card-content>
        
                    
        </mat-card-content>      
      </mat-card>
  </div>
  <div class="pokemon_detail">
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Description:</h2>    
        <section >
          <p class="description">{{pokemon_specie.flavor_text_entries[0].flavor_text}}</p>                  
        </section>
      </mat-card-content>
      <hr>
      <mat-card-content>        
        <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="learning">
            <th mat-header-cell *matHeaderCellDef> lvl learned </th>
            <td mat-cell *matCellDef="let element"> {{element.learning}} </td>
          </ng-container>         
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>        
      </mat-card-content>

      <mat-card-content>        
        <h2 class="example-h2">Linea Evolutiva:</h2>    
        <section class="section-evolution">
          <p class="evolution" *ngFor="let poke of evolution" (click)="btnRedirect(poke.name)">
            <img class="header-image" src="{{poke.img}}">
            <br>
            <span style="text-transform: uppercase; font-weight: bold;">{{poke.name}}</span>
            <i class="fas fa-home"></i>
          </p>
        </section>
      </mat-card-content>
    </mat-card>    
   
     
  </div>
</section>
