@import "../../../assets/style/variable-color.scss";

.card {    
    width: 85%;
    margin: auto;
    .mat-card-content:nth-child(2){       
        font-weight: bold;        
    }
    
}

.header-image {
    background-size: cover;    
}

.mat-card-image{
    background-color:$gray;
}

.mat-card-title{
    text-transform: uppercase;
    color: $black;
}

.mat-card-subtitle{
    color: $black;
}

.pokemon_detail{
    display: inline-block;
    vertical-align: top;    
}
.pokemon_detail:first-child{ 
    width: 35%;         
}
.pokemon_detail:nth-child(2){ 
    margin: 0;
    width: 65%;         
}

.progress-h2 {
    margin: 10px;
  }
  
  .progress-section {
    display: flex;
    align-content: center;
    align-items: center;
  }
  
  .progress-margin {
    margin: 0 10px;
  }

  .description{
      font-size: 20px;
      font-weight: normal;
      line-height: normal;
      color: $black;
  }

  .evolution{
    text-align: center; 
    display: inline-block; 
    width: 33%;
    color: white;
    padding: 10px;
    box-sizing: border-box;
  }
  .evolution:hover {
    cursor: pointer;
    
    }
  .section-evolution{
      background-color: $blue;
  }

  .example-container {
    height: 400px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }

  .mat-row:nth-child(odd) {
    background-color: $yellow;
    & .mat-cell {
        color: $black;
    }
}
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  @media only screen and (max-width: $screen-sm-min) {
    .container{
        width: 100%;
    }
    .pokemon_detail{
     display: block;
     width: 100%;
     .card{
        width: 100%;
     }
    }
    .evolution{
        display: block;
        text-align: center;
        width: 100%;
    }
    .pokemon_detail:first-child{ 
        width: 100%;         
    }
    .pokemon_detail:nth-child(2){ 
        margin: 0;
        width: 100%;         
    }
  }